.validate-card-widget {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  color: #333;
  background-color: #fff;
  line-height: 20px;
  box-sizing: border-box;
  width: 47%;
  margin: auto;
}

.validate-card-widget * {
  box-sizing: border-box;
}

.h3 {
  font-size: 1.3em;
}

.cards {
  margin: 10px 0 10px 0;
  height: 25px;
  padding-left: 0;
  list-style: none;
}

.cards li {
  display: block;
  float: left;
}

.card {
  float: left;
  width: 39px;
  height: 25px;
  text-indent: -9999px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 4px;
  border: black 1px solid;
  border-radius: 12%;
}

.visa {
  background-image: url("../image/visa-svgrepo-com.png");
}

.mastercard {
  background-image: url("../image/mastercard-svgrepo-com.png");
}

.amex {
  background-image: url("../image/amex-svgrepo-com.png");
}

.jcb {
  background-image: url("../image/jcb-svgrepo-com.png");
}

.discover {
  background-image: url("../image/discover-svgrepo-com.png");
}

.diners {
  background-image: url("../image/diners-svgrepo-com.png");
}

.mir {
  background-image: url("../image/mir-svgrepo-com.png");
}

.card-disabled {
  filter: grayscale(1);
  opacity: 0.3;
}

.box-of-form {
  display: inline-block;
  height: 34px;
  margin-bottom: 0;
  /*vertical-align: middle;*/
}

.submit-button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  margin-left: 10px;
  color: #fff;
  background-color: #5cb85c;
  background-image: none;
  border: 1px solid #4cae4c;
  border-radius: 4px;
  text-decoration: none;
}

.input-field {
  height: 34px;
  width: auto;
  float: left;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 20px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.input-field::placeholder {
  color: #999;
  opacity: 1;
}
